.header {
    margin-top: 50px;
}
.head {
    background-color: blueviolet;
}

.left-menu{
    background-color: chartreuse;
}

.main-content{
    background-color: crimson;
}

.form-group {
    padding-left: 10px;
    margin-right: 10px;
}

.btn-primary {
  margin-top: 10px;
  margin-right: 10px;
}

.form-control .form-label {
    text-align: left;
}
.form-inline label{
    align-items: flex-start;
    justify-content: left;
}
