<div class="container header">
    <h3>Horta Urbana Instrumentada</h3>
    <hr>
</div>
<div class="container" style="margin-top: 20px;">
  <div class="card-body row">
      <h4 class="card-title">Dados dos sensores</h4>
      <div class="col-10 justify-content-left form-inline" style="margin-top: 30px;">
        <label class="col-sm-2" for="Periodo">Periodo Inicial: </label>

        <div class="form-group col-sm-8">
          <input type="date" style="width:150px" class="form-control" name="Data_Inicial"
                [(ngModel)] ="busca.Data_Inicial">

          <input type="time" style="width:150px" class="form-control" name="Data_Inicial"
                [(ngModel)] ="busca.Hora_Inicial">
          
        </div>
        <label class="col-sm-2" for="Periodo">Período Final: </label>
        <div class="form-group col-sm-8">
          <input type="date" style="width:150px" class="form-control" name="Data_Final" [(ngModel)]="busca.Data_Final">
          <input type="time" style="width:150px" class="form-control" name="Data_Final" [(ngModel)]="busca.Hora_Final">
        </div>
        <br/>
        <div class="form-group col-sm-10">
            <button type="submit" class="btn btn-primary" (click)="atualizar()">Atualizar</button>
            <button type="submit" class="btn btn-primary" (click)="limpar()">Limpar</button>
        </div>
      </div>
  </div>
</div>

<div class="container" fxLayout="row" style="margin-top: 70px;">
  <div class="col-10">
    <div>
        <app-umidade-do-solo></app-umidade-do-solo>
    </div>
      <div>
        <app-umidade-do-ar></app-umidade-do-ar>
      </div>
      <div>
          <app-temperatura-do-ar></app-temperatura-do-ar>
      </div>
  </div>
</div>
