
<div>
  <div id="head" class="head">
    <label>Temp. Atual: </label>
  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column">
    <div class="left-menu" layout="column">
      <div flex>Segunda: </div>
      <div flex>Terça: </div>
      <div flex>Quarta: </div>
      <div flex>Quinta: </div>
      <div flex>Sexta: </div>
      <div flex>Sabado: </div>
      <div flex>Domingo: </div>
    </div>
    <div  flex="70">
      <div style="width: 150%;">
      <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true">
      </canvas>
    </div>
      <canvas id="myChart" width="100" height="100"></canvas>
      <canvas id="myChart2" width="100" height="100"></canvas>
    </div>
  </div>
</div>